body {
	font-size: 80%;
	line-height: 1.5em;
	font-family: Verdana, sans-serif;
	margin: 0 0 1.5em 0;
  }
  
  h1, h2, h3, h4 {
	font-weight: 400;
	font-family: Cousine, Verdana, sans-serif;
	width: 65%;
  }
  
  h1 {
	text-align: left;
	font-size: 3em;
	margin-bottom: 0.3em;
  }
  
  h1 + p {
	font-style: italic;
	font-size: 110%;
  }
  
  h2 {
	font-size: 1.2em;
	color: #0766ad;
	text-align: right;
	width: 23%;
	margin-top: 2em;
  }
  
  h3 {
	position: relative;
	top: 2.2em;
	text-align: right;
	width: 23%;
  }
  
  p {
	position: relative;
	left: 25%;
	margin-bottom: 0.1em;
	margin-right: 0;
	width: 70%;
  }
  
  code {
	font-size: 75%;
	font-family: Menlo, monospace, sans-serif;
	color: #aaa;
  }
  
  p code {
	position: absolute;
	left: -25%;
	text-align: right;
	width: 23%;
  }
  
  ul {
	position: relative;
	left: 23%;
	width: 65%;
	margin-bottom: 1.5em;
	margin-top: -0.5em;
  }
  
  li {
	padding-left: 1.25em;
	text-indent: -1.25em;
  }
  
  li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
  }
  
  a {
	color: inherit;
  }
  
  a:hover {
	color: #39f;
  }

  .d-flex {
	display: flex;
  }
  
  .light-blue-background {
	background-color: #d8dfe7;
  }
  
  .header-py {
	padding-top: 1rem;
	padding-bottom: 1rem;
  }
  
  #headerContainer {
	gap: 2%;
  }
  
  #detailsContainer {
	flex: auto;
	align-items: start;
	justify-content: center;
	flex-direction: column;
  }
  
  #detailsContainer p {
	left: 0;
  }
  
  #avatarContainer {
	width: 25%;
	align-items: center;
	justify-content: end;
  }
  
  #avatar {
	border-radius: 50%;
	overflow: hidden;
  }
  
  #webAddress {
	color: #85878f;
	font-family: Menlo, monospace, sans-serif;
	font-size: 80%;
  }
  
  #webAddress a {
	text-decoration: none;
  }