<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% if page.title %} {{ page.title }} | {% endif %} CV</title>
    <link href="media/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="media/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print" />
  </head>
  <body>
    <div id="main">
      <div id="headerContainer" class="d-flex light-blue-background">
        <div id="avatarContainer" class="d-flex header-py">
          <img id="avatar" alt="João Borges's avatar" src="https://avatars.githubusercontent.com/u/88789620?v=4" width="116" height="116" />
        </div>
        <div id="detailsContainer" class="d-flex lheader-py">
          <h1>João Borges</h1>
          <p>Software Developer</p>
          <div id="webAddress">
            | <a href="https://www.linkedin.com/in/jpedroborges/">linkedin.com/in/jpedroborges</a>
            | <a href="https://github.com/JPedroBorges">github.com/JPedroBorges</a>
          </div>
        </div>
      </div>
      <div id="content">{{ content }}</div>
    </div>
  </body>
</html>
